{% extends 'seller/base.html'%}

{% load static %}

{% block title %} seller {% endblock %}

{% block content %}

<div class="container bg-success p-5 text-white mt-5">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if '/Edit/' in request.path %}
      <h5 class="text-center">Update Product</h5>
    {% else %}
    <h5 class="text-center">Add Product</h5>
    {% endif %}
    <div class="row">
      {% for field in form %}
        <div class="col-6 UpdateProducts">
          <label class="form-label mt-4">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
      {% endfor %}

      {% if form.errors%}
        <br>
        {{ form.non_field_errors }}
      {% endif %}
    </div>

    <div class="loginSubmit mt-5">
      <input class="btn btn-danger btn-outline-light" type="submit" value="Upload">
    </div>
  </form>
</div>

<script>
  document.getElementById("id_prod_name").className = "form-control";
  document.getElementById("id_type").className = "form-control";
  document.getElementById("id_price").className = "form-control";
  document.getElementById("id_colour").className = "form-control";
  document.getElementById("id_size").className = "form-control";
  document.getElementById("id_in_stock").className = "form-control";
  document.getElementById("id_info").className = "form-control";
  document.getElementById("id_info").rows = 2;

  document.getElementById("id_image1").className = "form-control";
  document.getElementById("id_image2").className = "form-control";
  document.getElementById("id_image3").className = "form-control";
</script>
{% endblock %}