<!-- Navbar starting -->
{% load static %}
{% load ecommercetags %}
{% cat_names as category %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
<div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand  mx-3 px-3" href="{% url 'home' %}">
        <img src="{% static 'ecommerce/images/Logo.png' %}" alt="" width="45" height="28">
        </a>

        <li class="nav-item  mx-3">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item  mx-3">
        <a class="nav-link active" aria-current="page" href="{% url 'about-page' %}">About Us</a>
        </li>

        <div class="dropdown  mx-3">
        <button class="btn btn-secondary dropdown-toggle dropdown-btn" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </button>
        <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
            {% for item in category %}
            <li>
                <a class="dropdown-item text-white" href="{% url 'category-page' item.category %}">
                    {{ item.category_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        </div>

        <li class="nav-item  mx-3">
        {% if request.user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout {{ request.user }}</a>
        {% else %}
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
        {% endif %}
        </li>

        <li class="nav-item  mx-3">
        <a class="nav-link active" aria-current="page" href="{% url 'cart-page' %}">
            <img src="{% static 'ecommerce/images/cart.png' %}" height="24" width="30" alt="">
        </a>
        </li>

    </ul>
    <form class="d-flex" action="search.html">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" id="search-btn" type="submit">Search</button>
    </form>
    </div>
</div>
</nav>

<!-- Navbar ending -->